.option {
  border-bottom: 1px solid lighten($mid-blue, 10%);
  display: flex;
  justify-content: space-between;
  padding: $m-size $m-size;
}

.option__text {
  color: seashell;
  font-weight: 500;
  word-break: break-all;
}